*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    width: 100%;
}

h2{
    text-align: center;
    justify-content: center;
}

.view-result{
    width: 360px;
    background-color: rgba(128, 97, 97, 0.179);
    margin: auto;
    margin-top: 50px;
    
}

.view-result form{
    width:300px;
    margin-top: 25px;
    margin-left: 20px;
    padding:10px;
    
}

form lable{
    display: flex;
    margin-left: 10px;
    font-size: 15px;
}

form input{
    width:100%;
    margin-bottom: 15px;
    font-size: 100%;
    border: 3px solid grey;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.391);
}

input[type="button"]{
   font-weight: bold;
   background-color: rgba(255, 255, 255, 0.179);
}

input[type="button"]:hover{
    color: dodgerblue;
}

.create_exam_button{
    display: flex;
    width:200px;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    justify-content: center;
   font-weight: bold;
}

.create_exam_button input{
    margin: 5px;
}