*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: transparent;
}

.heading{
    text-align: center;
    justify-content: center;
    margin-top:50px;
}

.user-exam{
    width: 360px;
    /* height: 250px; */
    background-color: rgba(125,125,125,0.399);
    margin-top: 100px;
    margin-left: 38%;
}
form{
    width:300px;
    margin-top: 20px;
    margin-left: 20px;
    padding:10px;
}

form input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}



form select{
    width:100%;
    height: 30px;
    
}

form select option h3{
    font-size: 50px;
}

#take_exam{
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-left: 20%;
    font-weight: bold;
    width: 50%;
}

#view_result{
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-left: 20%;
    font-weight: bold;
    width: 50%;
}