*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background: url("Online-Exam-Software.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  lightslategrey;
    color: black;
}

.nav_logo{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.nav_links ul{
    display: flex;
    align-items: center;
}
.nav_links ul li{
    list-style: none;
}

.nav_links ul li a{
    text-decoration: none;
    color:black;
    padding-right: 50px;
    padding-left: 50px;
    display: block;
    justify-content: space-between;
    font-weight: bold;
    font-size: 150%;
}

@media (max-width:900px){
    .nav_links ul li a{
        padding-left: 25px;
        padding-bottom: 25px;
    }
}

.login-box{
    width:360px;
    height:300px;
    background-color:rgba(125, 125, 125, 0.399);
    margin-top: 10%;
    margin-left: 40%; 
    justify-content: center;
    
}
@media (max-width:900px){
    .login-box{
        position: relative;
        left:-100px;
    }

}

h1{
    text-align: center;
    margin-top: 20px;
    padding-left: 20px;
}

form{
    width: 300px;
    margin-left: 10px;
    padding-left: 10px;
}


.radio_container{
    display:flex;
    /* align-items: center; */
}
.radio_container input{
    margin-top:20px;
    margin-left:50px;
}
.radio_container label{
    font-size: 20px;
    font-weight: bold;
    padding-left:0px;
    margin-right: 40px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 100px;
    font-weight: bold;
}

form label h2{
    padding-top: 10px;
}

form input{
    width:100%;
    padding: 5px;
    border-radius: 30px;
    border:none;
    border: 1px solid grey;
    background-color: rgba(125, 125, 125, 0.399);

}
form .para-3{
    /* text-align: right;
    margin-top: 20px;
    font-size: 50px;
    float: right; */
    font-weight: bold;
    margin-top: 20px;
}

form .para-3 a{
    text-decoration: none;
    color: black;
}
input[type="submit"]{
    width:250px;
    height: 30px;
    margin-top: 20px;
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
    
}
input[type="button"]:hover{
    color: white;
}

.para-2{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.para-2 a{
    color:rgb(133, 18, 35);
    font-weight: bold;
    text-decoration: none;
}

.para-2 a:hover{
    color:lightgreen;
    font-weight: bold;
}

