*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100%;
    background: url("online-exam(1).jpeg");
    /* background-size:100% 100%; */
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  lightslategrey;
    color: black;
}

.nav_logo{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.nav_links ul{
    display: flex;
    align-items: center;
}
.nav_links ul li{
    list-style: none;
}

.nav_links ul li a{
    text-decoration: none;
    color: black;
    padding-right: 50px;
    padding-left: 50px;
    display: block;
    justify-content: space-between;
    font-size: 150%;
    font-weight: bold;
}

@media (max-width:900px){
    .nav_links ul li a{
        padding-left: 25px;
        padding-bottom: 25px;
    }
}

.nav_links ul li :hover{
    background-color: lightsalmon;
}
 
.signup_box{
    width:360px;
    /* height:550px; */
    background-color: rgba(255, 255, 255, 0.179);
    font-family: 'roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 38%;
    justify-content: center;
}

@media(max-width:900px){
    .signup_box{
        position: relative;
        left:-100px;
    }
}

h1{
    text-align: center;
    padding-top: 15px;
}
form{
    width:300px;
    margin-left: 10px;
    padding-left: 20px;
}

.radio_container{
    display:flex;
    /* align-items: center; */
}
.radio_container input{
    margin-top:0px;
    margin-left:50px;
}
.radio_container label{
    font-size: 20px;
    font-weight: bold;
    padding-left:0px;
    margin-right: 40px;
}


form lable{
    display: flex;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color:black;
}

form input{
    width: 100%;
    padding: 6px;
    border: none;
    border: 1px solid grey;
    background-color: rgba(125, 125, 125, 0.399);
    border-radius: 30px;
}


input[type="submit"]{
    width: 250px;
    height: 35px;
    margin-top: 10px;
    background-color: orange;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 25px;
    text-align:center;
}

input[type="reset"]{
    width: 250px;
    height: 35px;
    margin-top: 10px;
    background-color: orange;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 25px;
    text-align:center;
}   

.par-1{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

span{
    color: red;
}